form {
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    

}
div
{
    margin : auto;
    margin-bottom: 40px;
    max-width: 500px;
    min-width : 500px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 2px solid black;
    border-radius: 20px;
}



